body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #b8c6d3, #1e3a5f);
    background-size: cover;
    background-repeat: no-repeat;
    color: #1e3a5f;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 100px;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
}

header {
    width: 100%;
    background-color: #1e3a5f;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    position: fixed; /* Fijar el encabezado */
    top: 0; /* Pegado a la parte superior */
    left: 0; /* Alineado a la izquierda */
    z-index: 1000; /* Asegura que el encabezado esté por encima de otros elementos */
}

header h1 {
    margin: 0;
    font-size: 2rem;
    color: #fff;
    margin-left: 20px;
}

#logout-button {
    padding: 10px 15px;
    background-color: #d7ebf8;
    color: #1e3a5f;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 50px;
}

#logout-button:hover {
    background-color: #99e0a2;
    color: white;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    margin: 0 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tab:hover {
    background-color: #1e3a5f;
    color: white;
}

.tab.active {
    background-color: #1e3a5f;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.search-bar input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #b8c6d3;
    width: 200px; /* Reducir el tamaño del campo de entrada */
    margin-right: 10px;
}

.search-bar button {
    padding: 10px;
    background-color: #1e3a5f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #2d4f6c;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.photo-item {
    position: relative;
    border: 1px solid #b8c6d3;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.photo-item:hover {
    transform: scale(1.05);
}

.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f8d7db;
    color: #1e3a5f;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: background 0.3s ease, color 0.3s ease;
}

.favorite-btn:hover {
    background: #99e0a2;
    color: white;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

#galleryTab {
    text-decoration: none;
}

#favoritesTab {
    text-decoration: none;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    header {
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }

    header h1 {
        font-size: 1.5rem;
        margin-left: 20px;
        text-align: left;
    }

    #logout-button {
        margin-right: 20px;
        margin-left: auto;
    }

    .tabs {
        flex-direction: row;
        justify-content: flex-start;
    }

    .tab {
        margin: 0 5px;
        padding: 8px;
    }

    .search-bar {
        width: 100%; /* Ajustamos el ancho para centrarse */
        margin-top: 20px;
        justify-content: center; /* Centra los elementos dentro de la barra */
    }

    .search-bar input {
        width: 150px; /* Reducimos aún más el tamaño de la barra de búsqueda */
        max-width: 150px; /* Limita el tamaño máximo */
    }

    .search-bar button {
        padding: 10px;
        font-size: 1rem;
    }

    .photo-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .photo-item {
        margin-left: 5px; /* Separación en el lado izquierdo de cada imagen */
        margin-right: 5px; /* Separación en el lado derecho de cada imagen */
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.2rem;
    }

    .search-bar input {
        width: 100%;
        max-width: 150px; /* Limita el tamaño máximo para pantallas pequeñas */
    }

    .photo-item {
        margin-left: 5px; /* Separación en el lado izquierdo de cada imagen */
        margin-right: 5px; /* Separación en el lado derecho de cada imagen */
    }

    .photo-gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .favorite-btn {
        font-size: 0.7rem;
    }

    #logout-button {
        font-size: 0.8rem;
    }
}
